<html>

<head>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="left_menu">
        <div>
            <img src="images/mashup-logo.svg" alt="">
            <h3>Mashup Template</h3>
            <p class="site_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            <div class="menu_list">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="Services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <div class="footer_desc">
                        <ul>
                            <!-- <li><img src="images/" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li> -->
                        </ul>
                        <p>© Untitled | Website created with Mashup Template/Unsplash</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact_content">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <div class="left input-wrap">
                <form action="">
                    <div>
                        <input type="text" placeholder="Email"/>
                    </div>
                    <div>
                        <input type="text" placeholder="Subject"/>
                    </div>
                    <div>
                        <textarea placeholder="Enter Your message"></textarea>
                    </div>
                    <div>
                        <button class="send-btn">Send</button>
                    </div>
    
                    
                </form>
            </div>
            <div class="contact-social-link left">
                    <ul>
                        <li> + 33 907451265</li>
                        <li> e-mail@mail.io</li>
                        <li> 42 rue Moulbert 75016 Paris</li>
                    </ul>
                    <div>
                        <h3>Follow me on social networks</h3>
                    </div>
            </div>
          
    </div>
</body>
</html>