<html>

<head>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="left_menu">
        <div>
            <img src="images/mashup-logo.svg" alt="">
            <h3>Mashup Template</h3>
            <p class="site_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            <div class="menu_list">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="Services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <div class="footer_desc">
                        <ul>
                            <!-- <li><img src="images/" alt=""></li>
                            <li><img src="" alt=""></li>
                            <li><img src="" alt=""></li> -->
                        </ul>
                        <p>© Untitled | Website created with Mashup Template/Unsplash</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right_image_list">
        <div class="category_img">
            <img src="images/img-12.jpg" alt="">
            <div class="category_desc">
                <h2 class="img_title">sample title</h2>
                <a class="img_link" href="#">Discover</a>
            </div>
        </div>
        <div class="category_img">
            <img src="images/img-11.jpg" alt="">
            <div class="category_desc">
                <h2 class="img_title">sample title</h2>
                <a class="img_link" href="#">Discover</a>
            </div>
        </div>
       
        <div class="category_img">
            <img src="images/img-12.jpg" alt="">
            <div class="category_desc">
                <h2 class="img_title">sample title</h2>
                <a class="img_link" href="#">Discover</a>
            </div>
        </div>
        <div class="category_img">
            <img src="images/img-13.jpg" alt="">
            <div class="category_desc">
                <h2 class="img_title">sample title</h2>
                <a class="img_link" href="#">Discover</a>
            </div>
        </div>
        <div class="category_img">
            <img src="images/img-14.jpg" alt="">
            <div class="category_desc">
                <h2 class="img_title">sample title</h2>
                <a class="img_link" href="#">Discover</a>
            </div>
        </div>
        <div class="category_img">
            <img src="images/img-13.jpg" alt="">
            <div class="category_desc">
                <h2 class="img_title">sample title</h2>
                <a class="img_link" href="#">Discover</a>
            </div>
        </div>
        <div class="category_img">
            <img src="images/img-12.jpg" alt="">
            <div class="category_desc">
                <h2 class="img_title">sample title</h2>
                <a class="img_link" href="#">Discover</a>
            </div>
        </div>


    </div>
</body>
</html>