.input-update-wrapper .input{
    border: inherit;
    padding: 0px 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
    background: #ffffff;
    color: #777977;
    font-size: 18px;
    font-weight: normal;
    border-bottom: #ddd solid 1px;
}
.product_box h3{
    position: inherit;
    bottom: 0;
    right: 0;
    text-align: center;
    color:#7f7272;
    margin: 20px;
}

.input-btn-wrapper{
    text-align: center;
}

.input-btn-wrapper .input-btn{
    margin: 0 auto;
    width: 50%;
}

.container-fluid{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}